@import "tailwindcss";

/* .page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  transition: transform 0.3s;
}

img:hover {
  transform: scale(1.1);
} */
