@import "tailwindcss";

.logo:hover {
  background: linear-gradient(90deg, #007BFF, #00D4FF);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-height: 400px) {
  .navbar {
    backdrop-filter: blur(var(--blur-md))
  }
}

.mobile-navbar {
  background: linear-gradient(135deg, #00D4FF, #007BFF);
}

.intro-box {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.intro-box:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.clickable-text {
  color: white;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.clickable-text:hover {
  color: #64ffda;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
}

.styled-button {
  background: transparent;
  color: white;
  border: 2px solid #64ffda;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.styled-button:hover {
  color: #64ffda;
  transform: scale(1.1);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

#overview {
  position: relative;
}

#overview::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Credit: https://www.magicpattern.design/tools/css-backgrounds */
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #c2f9f6 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  z-index: -1;
}

#featured {
  position: relative;
}

#featured::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Credit: https://www.magicpattern.design/tools/css-backgrounds */
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #c2d6f9 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  z-index: -1;
}

#contact {
  position: relative;
}

#contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Credit: https://www.magicpattern.design/tools/css-backgrounds */
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #99efae 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  z-index: -1;
}

#selfie {
  filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.2));
}
